#kaocha/v1
{:kaocha.hooks/pre-run [kaiao.test/kaocha-pre-hook!]
 :kaocha.hooks/post-run [kaiao.test/kaocha-post-hook!]
 :tests    [{:id         :default
             :test-paths ["test"]}]
 :plugins  [:hooks
            :kaocha.plugin/profiling
            :kaocha.plugin/print-invocations
            :kaocha.plugin/notifier]
 :reporter kaocha.report/documentation
 :cli-options
 {:config-file "tests.edn", :print-config true}}
